.DS_Store

.env
.env.*
!.env.example

.assman/*
!.assman/config

backups/

plugins/aspendigital/locations
plugins/october/drivers

storage/app/media/*
!storage/app/media/.gitkeep

storage/app/uploads/*
!storage/app/uploads/public/
storage/app/uploads/public/*
!storage/app/uploads/public/.gitkeep

storage/*.sqlite
storage/logs/*
!storage/logs/.gitkeep

storage/redis